<div class="banner">
  <h1>All Restaurants</h1>
  <%= link_to 'add restaurant', new_restaurant_path, class: 'btn btn-primary'  %>

</div>

<div class="container">


  <% @restaurants.each do |restaurant| %>
        <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
  <% end %>

 </div>
